* {
    padding: 0;
    margin: 0;
}
html {
    line-height: 1.5;
    font-size: 14px;
}

.container {
    width: 1200px;
    margin: 0 auto 20px;
    overflow: hidden;
}
h1,h2,h3,h4,h5 {
    margin: 20px 0;
}


/* css写三角 */
.box {
    position: relative;
    padding: 50px;
    margin: 40px;
    background: #ffffff;
    font-size: 24px;
}
.cor {
    position: absolute;
    left: -40px;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-right-color: #fff;
}
.box-shadow {
    -webkit-box-shadow: inset 5px 5px 10px black;
    -moz-box-shadow: inset 5px 5px 10px black;
    box-shadow: inset 5px 5px 10px black;
}
.drop-shadow {
    filter: drop-shadow(5px 5px 10px black);
    /*drop-shadow: 5px 5px 10px black;*/
}



.font {
    width: 700px;
    margin: 0 auto;
    background: #337ab7;
    line-height: 100%;
}
.font h2 {
    font-size: 14px;
    color: red;
}



.overflow {
    width: 600px;
    height: 139px;
    margin: 20px auto;
    background: #ddd;

    /* 图中出现多的多余的滚动条是因为这个属性 */
    overflow: scroll;
}
.overflow .overflow-wrap {
    width: 600px;
    height: 125px;
    background: red;
}
.overflow .overflow-wrap img {
    vertical-align: top;

}
.overflow .overflow-wrap span {
    background: #337ab7;
    line-height: 24px;

}


/* 给滚动条设置样式 */
.overflow::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
.overflow::-webkit-scrollbar-thumb {
    background: #337ab7;
    border-radius: 6px;
}
.overflow::-webkit-scrollbar-track {
    background: #dddddd;
    border-radius: 6px;
}

.father-box {
    margin: 20px auto;
    padding: 20px;
    text-align: justify;
    background: #1f9866;
}
.father-box .child-box {
    width: 170px;
    height: 120px;
    margin-bottom: 20px;
    display: inline-block;
    background: pink;
    vertical-align: top;
}
.father-box .justify-fix {
    width: 100%;
    height: 0;
    display: inline-block;
    overflow: hidden;
}


/* 横向滚动 */
.controller-list {
    width: 100%;
    height: 160px;
    white-space: nowrap;
    margin-right: -20px;
    background: #1abc9c;
    margin-bottom: 100px;
    padding: 20px;
    overflow-x: scroll;
}
.controller-list .controller-item {
    display: inline-block;
    margin-right: 20px;
    width: 200px;
    height: 100%;
    vertical-align: top;
    background: #c60012;
}
.controller-list::-webkit-scrollbar {
     width: 8px;
     height: 8px;
 }
.controller-list::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 6px;
}
.controller-list::-webkit-scrollbar-track {
    background: rgba(255,255,255,0.6);
    border-radius: 6px;
}


.wrapper {
    width: 100%;
    padding: 20px;
}

.left {
    width: 600px;
    height: auto;
    float: left;
}
/* overflow-father */
.left .overflow-father {
    width: 500px;
    height: 120px;
    visibility: hidden;
    background: #000;

    /* 隐藏元素的方法 */
    /*zoom: 0.003;*/
    /*transform: scale(0);*/
}


.left .overflow-father .overflow-child {
    position: absolute;
    width: 300px;
    height: 300px;
    background: #c60012;
    visibility: visible;
    clip: rect(0 300px 100px 50px);
}


.right   {
    width: 400px;
    float: right;
}
/* 关于icon水平居中的最佳解决方案 */
.right .icon-box {
    width: 300px;
    height: 40px;
}
.right .icon-box .icon {
    height: 20px;
    width: 20px;
    display: inline-block;
    color: transparent;
    text-indent: -99px;
    white-space: nowrap;
}
.right .one .icon {
    background: url("../img/dz_question.png") no-repeat center;
}
.right .two .icon {
    background: url("../img/black_show.png") no-repeat center;
}
.right .three .icon {
    background: url("../img/AiQiYi.png") no-repeat center;
}
.right .four .icon {
    background: url("../img/b.png") no-repeat center;
}

.right .icon-box .icon:before {
    content: '\3000';
}


/* form表单的样式 */
form {
    margin: 30px auto;
}
pre {
    padding: 10px 1em;
    margin: 1em 0;
    border: 1px dashed #ccc;
    background-color: #fff;
    font-family: Consolas, monospace;
    white-space: pre-wrap;
    word-wrap: break-word;
    text-align: left;
}
select {
    width: 120px;
}
.label-left {
    width: 100px;
    float:left;
}
.test {
    width: 600px;
    margin:100px auto auto;
}
.pay {
    padding: 5px 0 5px 100px;
    margin: 20px 0;
    background-color: #EDF3F5;
    font-size: 16px;
    font-weight: bold;
}
.disabled {
    opacity: 0.4;
    filter: alpha(opacity=40);
    pointer-events: none;
    cursor: default;
}
.loaded label.label-left {
    padding-top: 10px;
}
.ui_dialog_remind {
    word-wrap: break-word;
}