/*
 * 这里是一些全局变量
 * 主要是颜色
*/
/*主色*/
body, .dark { color: #545a6c; }
/*蓝色*/
a, .blue, a.dark:hover { color: #00a5e0; }
/*hover蓝色*/
a:hover { color: #008cbf; }
/*灰色*/
.gray { color: #a2a9b6; }
/*白色*/
.white { color: #fff; }
/* 绿色 */
.green { color: #01cf97; }
/* 橘色 */
.orange { color: #f28c48; }
/* 红色 */
.red {color: #f4615c;}
/* 浅色 */
.light { color: #f5f9fa; }

/* 背景色 仅作为色块背景时候使用*/
.bg_dark { background-color: #545a6c; }
.bg_blue { background-color: #00a5e0; }
.bg_green { background-color: #01cf97; }
.bg_orange { background-color: #f28c48; }
.bg_red { background-color: #f4615c; }
.bg_light { background-color: #f5f9fa; }
.bg_gray { background-color: #a2a9b6; }
.bg_white { background-color: #fff; }