* {
    padding: 0;
    margin: 0;
}


/* css写三角 */
.box {
    position: relative;
    padding: 50px;
    margin: 40px;
    background: #ffffff;
    font-size: 24px;
}
.cor {
    position: absolute;
    left: -40px;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-right-color: #fff;
}
.box-shadow {
    -webkit-box-shadow: inset 5px 5px 10px black;
    -moz-box-shadow: inset 5px 5px 10px black;
    box-shadow: inset 5px 5px 10px black;
}
.drop-shadow {
    filter: drop-shadow(5px 5px 10px black);
    /*drop-shadow: 5px 5px 10px black;*/
}



.font {
    width: 700px;
    margin: 0 auto;
    background: #000;
    line-height: 100%;
}
.font h2 {
    font-size: 14px;
    color: red;
}